@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');



*{
  background-color: #749F82;
  width: 99.1vw;
  height: 15vh;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;

}

h1{
  color: #425F57;
  font-size: 100px;
  font-family: 'Caveat', cursive;
}

